<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > Mercado Liebre Login</title> 
   
    <%- include ('./partials/head') %>
   
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet" >
    <link href="/css/login.css" rel="stylesheet" >
    <link href="/css/createProduct.css" rel="stylesheet" >

   
    
</head>

<body>
  
  <br>
  <br>
    <form action="/product/edit/<%= producto.id  %>?_method=PUT" method="POST" enctype="multipart/form-data" > 
      <input type="text" style="width: 50%;margin-left: 20px" name="name" value="<%= producto.name %>"  placeholder="  Nombre del producto"   class="input-nombre">

      <br>
      <br>

      <textarea name="description" style="margin-left: 20px; width: 40%;" placeholder="Descripcion" class="input-descripcion"><%= producto.description %></textarea>
      
      <br>
      <br>

      <input type="text"  name="price" style="width: 20%;margin-left: 20px;" value="<%= producto.price%>"  placeholder="Precio" class="input-precio">
      <input type="text"  name="discount" style="width: 20%;margin-left: 20px;" value="<%= producto.discount %>"  placeholder="Descuento" class="input-descuento">
      
      
      <label for="cImage"> Cargar imagen</label>
      <input type="file"  name="cImage" style="width: 20%;margin-left: 20px;" placeholder="Descuento">
      
      <br>
      <br>
      <select class="form-select"  name="categoty"aria-label="Default select example" style="width: 20%;margin-left: 20px;" class="input-categoria">
        <% if (producto.categoty == "Perifericos"){ %> 
        <option selected>Seleccione Categoria</option>
        <option value="Pods/Vapes" selected>Perifericos</option>>
        <option value="Liquidos/Sales">Accesorios</option>
        <% } %>
        <% if (producto.categoty== "Accesorios"){ %> 
            <option selected>Seleccione Categoria</option>
            <option value="Pods/Vapes">Perifericos</option>>
            <option value="Liquidos/Sales" selected>Accesorios</option>
        <% } %>
      </select>
    

      <br>
      <br>

      <button type="submit" class="btn btn-dark" style="width: 20%;margin-left: 20px;">editar</button>
   
    </form>
<br>
<br>

<%- include ('./partials/footer') %>
<script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</body>
</html>