<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > Mercado Liebre Producto</title> 
    
    <%- include ('./partials/head') %>
    
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet" >
    <link href="/css/producto.css" rel="stylesheet" >
    
</head>

<body>
    
  <%- include ('./partials/header') %>
<div id="producto-entero">
    
    <div class="fotos-producto-grande">
      <img class="fotos-derecha" src="/imagenes/products/<%=producto.image%>" width="90%">
    </div>
  

    <div class="nombre-producto">
      <div class="x-nombre">
        <h2 class="nombre-productos"> <%=producto.name %> </h2>
     </div>
    <br>    
    <div class="box-descripcion">
    <div class="descripcion-producto">
      <h3> Descripcion:</h3>
     <h4 style="font-size:medium"><%= producto.description%></h4>
    </div>
  </div>
     <h2 class="precio-producto">$ <%=producto.price %></h2>
     
     <!--<select id="cantidad-productos"class="form-select" aria-label="Default select example">
      <option selected> Cantidad:</option>
      <option value="1">1 unidad</option>
      <option value="2">2 unidades</option>
      <option value="3">3 unidades</option>
     </select>
    -->
     <div class="div-boton-comprar" >
      <a href="/"><button id="boton-comprar"class="hover">Comprar ahora </button></a>
     </div>
     <div class="div-boton-carrito" >
      <a href="/"><button id="boton-carrito"class="hover">Agregar al carrito </button></a>
     </div>

    <br>

     <% if (locals.isLogged) {  %>
      <div id="edit-delete">
        <div class="div-boton-editar" >
         <a href="/product/edit/<%= producto.id %>"><button id="boton-carrito"class="hover">editar</button></a>
        </div>
   
        <form action="/product/<%= producto.id %>?_method=DELETE" method="POST">
        <div class="div-boton-eliminar" >
         <a href="/"><button id="boton-carrito"class="hover">eliminar</button></a>
        </div>
       </div>
       </form>
        
       <% } %> 
   
   
     
  </div>
 
    <div id="div-boton-x-producto">
   <a href="/"> <button id="boton-x-producto"class="w3-button w3-black w3-round-small"><i class="fa-solid fa-x"></i></button></a>
  </div>
    <br>
     </div>
     <br>
  <br>
  <%- include ('./partials/footer') %>
        <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
        <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
  </body>
  
  </html>
  