<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > Mercado Liebre Registro</title> 
    <%- include ('../partials/head') %>
   
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet" >
    <link href="/css/login.css" rel="stylesheet" >
    
</head>

<body>
  <%- include ('../partials/header') %>
  <div id="inicio">
    <form action="/users/register" method="POST" enctype="multipart/form-data">
      <br>
      <br>
    <div class="nombre">
      
      <input type="text" 
      placeholder="nombre"
       name="fullName" 
      
       id="nombre">
      
    </div>
    <% if(locals.errors && errors.fullName) { %>
      <div class="text-danger"><%= errors.fullName.msg %></div>
  <% } %>

    <div class="contraseña">
      
      <input type="password" placeholder="Contraseña" 
      name="password"
     
       id="contraseña" />
       <% if(locals.errors && errors.password) { %>
        <div class="text-danger"><%= errors.password.msg %></div>
    <% } %>
     
    </div>
  
    <div class="correo">
      
    <input type="email" placeholder="E-mail" name="email" 
    
    id="correo" >
   </div>
   <% if(locals.errors && errors.email) { %>
    <div class="text-danger"><%= errors.email.msg %></div>
<% } %>
   <div class="direccion">
   <input type="text" name="country" id="direccion" placeholder="Domicilio">
   </div>
   <% if(locals.errors && errors.country) { %>
    <div class="text-danger"><%= errors.country.msg %></div>
<% } %>

   <label for="cImageRegistro"> Cargar imagen</label>
   <input type="file"  name="cImageRegistro" style="width: 20%;margin-left: 20px;" placeholder="Descuento">
   <% if(locals.errors && errors.cImageRegistro) { %>
    <div class="text-danger"><%= errors.cImageRegistro.msg %></div>
<% } %>
   <br>
  

    </div>
    <br>
    
    <div id="boton-div">
   <a href="/"> <button type="submit"  id="boton-enviar"class="btn btn-outline-warning">Crear cuenta</button></a>
</div>
<br>
    <br>
    <br>
</form>


 


<%- include ('../partials/footer') %>
<script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</body>
</html>